.register-container {
  width: 600px;
  height: auto;
  margin: 180px auto;
  text-align: center;
}

.error {
  padding: 10px 50px;
  font-size: 21px;
  background-color: #2e2b2be7;
  color: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fundo {
  background-color: #d0d8dd;
  height: 90vh;
  display: flex;
  width: 100vw;
}