.formContainer1 {
  width: 300px;
  margin: auto;
  text-align: center;
}

.formContainer1 input {
  display: flex;
  width: 95%;
  margin-bottom: 35px;
  padding: 10px;
  border: 3px solid #a8a7a7;
}

.formContainer1 p {
  text-align: center;
}

.formContainer1 button {
  padding: 10px;
}