.formContainer1 {
  width: 300px; /* Ajuste conforme necessário */
  margin: auto;
  text-align: center;
}

.formContainer1 input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.formContainer1 p {
  text-align: center;
}

.formContainer1 button {
  padding: 10px;
}