  button {
    padding: 10px 120px;
    font-size: 30px;
    background-color: #bfab3be7;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  button:hover {
    background-color: #125917; /* cor de fundo alterada no hover */
  }